/* livvic-regular - latin */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 400;
  src: local(""), url('../fonts/livvic-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-italic - latin */
@font-face {
  font-family: 'Livvic';
  font-style: italic;
  font-weight: 400;
  src: local(""), url('../fonts/livvic-v14-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-500 - latin */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 500;
  src: local(""), url('../fonts/livvic-v14-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-500italic - latin */
@font-face {
  font-family: 'Livvic';
  font-style: italic;
  font-weight: 500;
  src: local(""), url('../fonts/livvic-v14-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-600 - latin */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  src: local(""), url('../fonts/livvic-v14-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-600italic - latin */
@font-face {
  font-family: 'Livvic';
  font-style: italic;
  font-weight: 600;
  src: local(""), url('../fonts/livvic-v14-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-700 - latin */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  src: local(""), url('../fonts/livvic-v14-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-700italic - latin */
@font-face {
  font-family: 'Livvic';
  font-style: italic;
  font-weight: 700;
  src: local(""), url('../fonts/livvic-v14-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
} 
  /* ROOT START */
  
:root {
    --primary-midngith-green-color:#014E56;
    --primary-light-coral-color:#F67E7E;
    --primary-white-color: #FFFFFF;
    --secondary-rapture-blue-color:#79C8C7;
    --secondary-police-blue-color:#2C6269;
    --secondary-deep-jungle-green-color:#004047;
    --secondary-sacramento-state-green-color:#012F34;
    --secondary-dark-green-color:#002529;

    --h1-fs-lg: 10rem;
    --h1-lh-lg: 1;

    --h1-fs: 6.4rem;
    --h1-lh: 0.875;

    --h2-fs: 4.8rem;
    --h2-lh: 1;

    --h3-fs: 1.8rem;
    --h3-lh: 1.56;
    
    --body1-fs:1.8rem;
    --body1-lh: 1.56;

    --body2-fs:1.5rem;
    --body2-lh: 1.67;
}
    /* ROOT END */

  /* GLOBAL STYLES */
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    scroll-behavior: smooth;
}

ul,ol{
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family:'Livvic';
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    background-color:#014E56;
}

main{
    flex-grow: 1;
}

.container{
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

hr{
  width: 50px;
  height: 4px;
  border:none;
  background: #F67E7E;
  margin-bottom: 34px;

}


